body {
  border: 1px solid red;
  margin: 0px;
  max-width: none;
}

/* header and footer sections */
header, footer {
  display: flex;
  border: 1px solid red;
  background-color: #373738;
  text-align: right;
  padding: 16px;
}

header ul {
  border: 1px solid red;
  float: right;
  color: white;
}

header li {
  border: 1px solid red;
  display: inline-block;
  padding: 16px;
}

h1, h2, h3, h4 {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 16px;
  position: static;
  width: auto;
  height: auto;
  top: 32px;
  flex: none;
  order: 0;
  align-self: auto;
  box-sizing: border-box;
  flex-grow: 0;
  margin: 16px;
  display: flex;
  left: calc(50% - 500px/2);
  flex-grow: 0;
}

h2 {
  order: 1;
}

h3 {
  order: 2;
}

h4 {
  order: 3;
}

p {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  position: static;
  width: auto;
  height: auto;
  left: 16px;
  top: 16px;
  box-sizing: border-box;
  flex: none;
  order: 2;
  align-self: center;
  flex-grow: 0;
  margin: 16px;
}

/* Hero Image Section */
.heroImg {
  border: 1px solid red;
  background-color: #EBEBEB;
  padding: 16px;
  width: 400px;
}

/* UX Skills Section */
.mySkills {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  flex: none;
  flex-grow: 1;
  position: relative;
  width: auto;
  height: auto;
  background: #FFFFFF;
  justify-content: center;
  align-items: center;
  padding: 16px;
  margin: 16px;
  left: 16px;
  top: 16px;
  box-sizing: border-box;
  order: 0;
  align-self: auto;
} 

.flexContainer {
  border: 1px solid red;
  display: flex;
  flex:auto;
  flex-direction: column;
  max-width: auto;
  justify-content: space-between;
  align-items: flex-start;
  position: static;
  height: auto;
  left: calc(50% - 1400px/2);
  top: 16px;
  align-self: auto;
  flex-grow: 1;
  margin: 16px;
  padding: 16px;
  background-color: #FFFFFF;
  text-align: center;
  display: flex;
  flex-direction: row;
width: 800px;
left: calc(50% - 1377px/2);
top: 136px;
flex: none;
order: 1;
align-self: auto;
flex-grow: 1;
}

/* My Work Section */
.myWork {
  border: 1px solid red;
  display: -ms-grid;
  display: grid;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  position: relative;
  width: 800px;
  height: auto;
  background: #FFFFFF;
}

.workGrid {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  flex: none;
  justify-content: center;
  align-items: center;
  padding: 16px;
  position: static;
  width: 500px;
  height: auto;
  left: 16px;
  top: 16px;
  order: 0;
  flex-grow: 0;
  margin: 32px;
}

.project-image {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: static;
  width: 400px;
  height: 390px;
  left: 16px;
  top: 16px;
  box-sizing: border-box;
  flex: none;
  order: 0;
  align-self: auto;
  flex-grow: 1;
  margin: 0px 16px;
}

.project-content {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  position: static;
  width: auto;
  height: auto;
  left: 432px;
  top: 16px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 16px;
}

.project-content h4 {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  position: static;
  width: 382px;
  height: 65px;
  left: 16px;
  top: 16px;
  box-sizing: border-box;
  flex: none;
  order: 0;
  align-self: auto;
  flex-grow: 0;
  margin: 16px 0px;
}

.project-content p {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  position: static;
  width: 400px;
  height: auto;
  left: 16px;
  top: 97px;
  box-sizing: border-box;
  flex: none;
  order: 1;
  align-self: auto;
  flex-grow: 0;
  margin: 16px 0px;
}

.project-content button {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 16px;
  position: static;
  width: 133px;
  height: 37px;
  left: 16px;
  top: 321px;
  background: #C2C2C2;
  border-radius: 5px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 16px 0px;
  }

button {
  border: 1px solid red;
  width: auto;
  height: auto;
  left: 16px;
  top: 321px;
  background: #C2C2C2;
  border-radius: 5px;
  flex: none;
  order: 2 ;
  flex-grow: 0;
  margin: 16px 0px;
}